.clearfix{
  &:before,
  &:after{
    content: " "; //1
    display: table; //2
  }
  &:after{
    clear: both;
  }
}

//Función para que me escriba los ... en caso que sea muy largo el texto
@mixin text-overflow-elipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


//Para no tener que poner a todos mediaqueris nos creamos unos mixin para los responsive



@mixin if-is-large-screen {
  @media all and (min-width: #{$large-screen-width}) {
    @content;
  }
}

@mixin if-is-medium-screen {
  @media all and (min-width: #{$medium-screen-width}) {
    @content;
  }
}

@mixin if-is-small-screen {
  @media all and (max-width: #{$small-screen-width}) {
    @content;
  }
}